
# Make drivers available
Alias "/{EMP_WEBSERVER_DRIVERS_PATH_PREFIX}" "{EMP_DRIVERS_BASE_DIR}"

<Directory "{EMP_DRIVERS_BASE_DIR}">
  EnableMMAP Off
  Options Indexes FollowSymLinks MultiViews
  AllowOverride All
  Order allow,deny
  Allow from all
  Require all granted
</Directory>
