
# Allow the drivers directory hierarchy
Alias "/{EMP_WEBSERVER_DRIVERS_PATH_PREFIX}" "{DRIVERS_BASE_DIR}"

<Directory "{DRIVERS_BASE_DIR}">
  EnableMMAP Off
  Options Indexes FollowSymLinks MultiViews
  AllowOverride All
  Order allow,deny
  Allow from all
  Require all granted
</Directory>
